<template>
    <div class="header" id="header">
        <div class="container flex">
            <div class="header__logo">BBS</div>
            <div class="header__nav nav">
                <a href="#" class="nav__link">
                    <div class="nav__home">Home</div>
                </a>
                <a href="#" class="nav__link">
                    <div class="nav__about">About</div>
                </a>
                <a href="#" class="nav__link">
                    <div class="nav__contact">Contact</div>
                </a>
                <a href="#" class="nav__link">
                    <div class="nav__login">Login</div>
                </a>
            </div>
        </div>
    </div>
</template>