<template>
    <Header/>
    <div class="content">
        <div class="container flex">
            <div class="content__left">
                <div class="post" v-for="post in posts" v-bind:key="post.id">
                    <div class="post__container flex">
                        <div class="post__img"></div>
                        <div class="post__content">
                            <div class="post__title">
                                {{ post.title }}
                            </div>
                            <div class="post__text">
                                {{ post.content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>

    <a href="#header" class="scroll-top">^</a>
</template>

<script>
import Header from "../layout/Header"
const axios = require('axios');
export default {
    data() {
        return {
            posts: []
        }
    },
    components: {
        Header
    }, 
    mounted() {
        axios
        .get("http://localhost:9000/api/post")
        .then(response => response.data)
        .then(data => this.posts = data.result)
    }
}
</script>