<style>
	@import './assets/stylesheets/main.css';
</style>

<template>
	<Post/>
</template>
<script>
import Post from "./components/home/Post.vue"
export default {
	name: "App",
	components: {
		Post
	}
}	
</script>

