@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.wrapper {
    position: relative;
}

.header {
    padding: 1.5rem 1rem;
    position: relative;
    background-color: #000;
    color: #fff;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .1rem;
    background: rgba(0, 0, 0, 0.3);
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    text-align: center;
    font-size: 5rem;
    
}

.header .nav {
    display: flex;
    font-weight: 300;
    position: relative;
}

.nav > .nav__link {
    color: #fff;
    text-decoration: none;
    padding: 0 2rem;
    font-size: 2.4rem;
    cursor: pointer;
    position: relative;
    padding-bottom: .5rem;
}

.nav__link > div::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 80%;
    height: .1rem;
    background-color: #fff;
    transition: all ease 0.3s;
}

.nav__link:hover > div::after {
    transform: translateX(-50%) scaleX(1);
}



/* Content */
.content {
    background-color: #f5f5f5;
    padding: 3rem 0;
}

.content .container {

}

.content .section__title {
    font-size: 4rem;
    margin-bottom: 4rem;
    position: relative;
}

.content__left {
    padding: 5rem 4rem;
    background-color: #fff;
}

.content .post {
    position: relative;
}



.post + .post {
    margin-top: 3rem;
}

.content .post__container {
    max-width: 70rem;
    min-height: 30rem;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    justify-content: space-between;
    transition: all ease 0.2s;
}

.content .post__container:hover {
    cursor: pointer;
    transform: translate(-8px, -8px);
    border-right: .8rem solid rgba(0, 0, 0, 0.7);
    border-bottom: .8rem solid rgba(0, 0, 0, 0.7);
}

.content .post__img {
    display: block;
    width: 22rem;
    height: 25rem;
    background-color: #ccc;
    border-radius: 1rem;
}

.content .post__content {
    flex: 0 0 60%;
}

.content .post__title {
    font-size: 2.4rem;
    max-width: 70%;
}

.content .post__text {
    margin: 2.5rem 0;
    font-size: 1.6rem;
    max-width: 80%;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer {

}

.scroll-top {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Common */
.hidden {
    display: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}